{% extends 'stock_web/base1.html' %}

{% block content %}

<form class="top-search-form" action="http://themes.semicolonweb.com/html/canvas/search.html" method="get">
    <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
</form>

</div>
</div>
</div>
<div class="header-wrap-clone"></div>
</header><!-- #header end -->

<!-- Page Title
============================================= -->
<section id="page-title">

<div class="container clearfix">
<h1>FAQs</h1>
<span>All your Questions answered in one place</span>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
</ol>
</div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="row gutter-40 col-mb-80">
<!-- Post Content
============================================= -->
<div class="postcontent col-lg-9">

   

    <div class="clear"></div>

    <div id="faqs" class="faqs">

        <div class="toggle faq faq-marketplace faq-authors">
            <div class="toggle-header">
                <div class="toggle-icon">
                    <i class="toggle-closed icon-ok"></i>
                    <i class="toggle-open icon-ok"></i>
                </div>
                <div class="toggle-title">
                    What are Pre IPO Stocks?
                </div>
            </div>
            <div class="toggle-content">Pre IPO - An offering of shares of a company before its Initial Public Offer. i.e. before they get listed on the Stock Exchanges.</div>
        </div>

        <div class="toggle faq faq-authors faq-miscellaneous">
            <div class="toggle-header">
                <div class="toggle-icon">
                    <i class="toggle-closed icon-ok"></i>
                    <i class="toggle-open icon-ok"></i>
                </div>
                <div class="toggle-title">
                    What are Unlisted Stocks?
                </div>
            </div>
            <div class="toggle-content">Unlisted Stocks are share that are currently not listed on any Stock Exchange and are available to trade in the secondary market.</div>
        </div>

        <div class="toggle faq faq-miscellaneous">
            <div class="toggle-header">
                <div class="toggle-icon">
                    <i class="toggle-closed icon-ok"></i>
                    <i class="toggle-open icon-ok"></i>
                </div>
                <div class="toggle-title">
                    How can I invest in Pre PIO & Unlisted Stocks?
                </div>
            </div>
            <div class="toggle-content">You can invest in the stocks that fit your portfolio & match your risk appetite by directly purchasing them from Trade Unlisted. Our team will be happy to help you the right stocks.</div>
        </div>

        <div class="toggle faq faq-authors faq-legal faq-itemdiscussion">
            <div class="toggle-header">
                <div class="toggle-icon">
                    <i class="toggle-closed icon-ok"></i>
                    <i class="toggle-open icon-ok"></i>
                </div>
                <div class="toggle-title">
                    What are the minimum amount one can invest in Pre IPO & Unlisted Stocks?
                </div>
            </div>
            <div class="toggle-content">The minnimum investment starts from INR ... it depends on the current stock price.</div>
        </div>

        <div class="toggle faq faq-marketplace faq-authors">
            <div class="toggle-header">
                <div class="toggle-icon">
                    <i class="toggle-closed icon-ok"></i>
                    <i class="toggle-open icon-ok"></i>
                </div>
                <div class="toggle-title">
                    What is time horizon for investing in Pre IPO & Unlisting Stocks?
                </div>
            </div>
            <div class="toggle-content">Most Pre IPO & Unlisting Stocks take 2 to 4 years to get listed as it involves processes like - Shareholders Approval, Getting internal processes in order, Hiring Merchant Bankers, Filing for DRHP, Gettig approval SEBI etc, We Don't guarantee the listing of stocks..</div>
        </div>

        <div class="toggle faq faq-affiliates faq-miscellaneous">
            <div class="toggle-header">
                <div class="toggle-icon">
                    <i class="toggle-closed icon-ok"></i>
                    <i class="toggle-open icon-ok"></i>
                </div>
                <div class="toggle-title">
                    What is the minimum amountone can invest in Pre IPO & Unlisting Stocks?
                </div>
            </div>
            <div class="toggle-content">The minimum investment starts from INR 555. However, it depends on the current stocks price.</div>
        </div>

        <div class="toggle faq faq-legal faq-itemdiscussion">
            <div class="toggle-header">
                <div class="toggle-icon">
                    <i class="toggle-closed icon-ok"></i>
                    <i class="toggle-open icon-ok"></i>
                </div>
                <div class="toggle-title">
                    Is there any lock-in period for Pre IPO & Unlisted Stocks?
                </div>
            </div>
            <div class="toggle-content">There is no lock-in period to listing, You can buy or sell your shares in the secondary market. There is a lock-in for 1 year from the date of listing.</div>
        </div>

        <div class="toggle faq faq-legal faq-authors faq-itemdiscussion">
            <div class="toggle-header">
                <div class="toggle-icon">
                    <i class="toggle-closed icon-ok"></i>
                    <i class="toggle-open icon-ok"></i>
                </div>
                <div class="toggle-title">
                    Where are my Per IPO & Unlisted Stocks Held?
                </div>
            </div>
            <div class="toggle-content">Your stocks are held in your CDSL or NSDL Demat Accounts. If you don't have one, we will help you open it.</div>
        </div>

        <div class="toggle faq faq-affiliates">
            <div class="toggle-header">
                <div class="toggle-icon">
                    <i class="toggle-closed icon-ok"></i>
                    <i class="toggle-open icon-ok"></i>
                </div>
                <div class="toggle-title">
                    What are the Tax Implications of investing in Pre IPO & Unlisting Stocks?
                </div>
            </div>
            <div class="toggle-content">Pre IPO & Unlisted Stocks are taxed as short or long term capital gain and enjoy indexation benefit.
                LTCG on sale of Unlisted Stocks is taxable at 10% without indexation and 20% with idexation.
                STCG on sale of Unlisted Stocks is application marginal tax rate. We still advise you to consult your taxation expert.
            </div>
        </div>
    </div>


</div><!-- .postcontent end -->

       
        <div class="widget clearfix">

            <h4>Embed Videos</h4>
            <iframe src="http://player.vimeo.com/video/103927232" width="500" height="250" allow="autoplay; fullscreen" allowfullscreen></iframe>

        </div>
    </div>
</div><!-- .sidebar end -->
</div>

</div>
</div>
</section><!-- #content end -->

{% endblock %}