{% extends 'dashboard/layout.html' %} {% load static %}
{% load mathfilters %}
{% block title %}Dashboard | CRM {% endblock %} {% block body %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form class="d-flex" action="/dashboard/date-filter/" method="POST">
                        {% csrf_token %}
                        <!-- <div class="input-group">
                            <span class="input-group-text bg-primary border-primary text-white">
                                <i class=" font-13"> From</i>
                            </span>
                            <input type="date" name="datef" class="form-control form-control-light">

                        </div>
                        <div class="input-group mx-2">
                            <span class="input-group-text bg-primary border-primary text-white">
                                <i class="font-13">To</i>
                            </span>
                            <input type="date" name="datet" class="form-control form-control-light">

                        </div>
                        <button class="btn btn-primary ms-1" type="submit">
                            <i class="dripicons-search noti-icon"></i>
                        </button> -->
                        <a href="/dashboard/" class="btn btn-primary ms-2">
                            <i class="mdi mdi-autorenew"></i>
                        </a>

                    </form>
                </div>
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
        <i style="list-style: none;" class=" me-2"></i> <strong>Message - </strong>
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-xl-12 col-lg-12">

            <div class="row">
                <div class="col-lg-3">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-account-multiple widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Customers</h5>
                            <h3 class="mt-3 mb-3">{{customers}}</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 5.27%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-lg-3">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-cart-plus widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Orders</h5>
                            <h3 class="mt-3 mb-3">{{ordersCount}}</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 1.08%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
                <div class="col-lg-3">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-currency-usd widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Sales</h5>
                            <h3 class="mt-3 mb-3">Rs. {{sales}}</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 7.00%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-lg-3">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-pulse widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Growth">Revenue</h5>
                            <h3 class="mt-3 mb-3">Rs. {{revenue}}</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 4.87%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div> <!-- end row -->

        </div> <!-- end col -->

        <div class="col-xl-12 col-lg-12">
            <div class="card card-h-100">
                <div class="card-body">
                    <h4 class="header-title mt-2 mb-3">Order Progress by current status</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card widget-flat">
                                <div class="card-body">
                                    <div class="float-end">
                                        <i class="mdi mdi-account-multiple widget-icon"></i>
                                    </div>
                                    <h5 class="text-muted fw-normal mt-0" title="Number of Customers">New Leads </h5>
                                    <li class="list-inline-item me-3">
                                        <h5 class="mb-1">Rs. {{newOrdersRevenue}}</h5>
                                        <p class="mb-0 font-13">Total Revenue</p>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="mb-1">{{newOrders}}</h5>
                                        <p class="mb-0 font-13">Number of Orders</p>
                                    </li>


                                    <a href="/dashboard/orders/Order Placed" class="mb-0 text-muted"><span
                                            class="badge badge-primary-lighten mt-3"><i class="mdi mdi-coin"></i>View
                                            List</span></a>


                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col-->

                        <div class="col-lg-4">
                            <div class="card widget-flat">
                                <div class="card-body">
                                    <div class="float-end">
                                        <i class="mdi mdi-account-multiple widget-icon"></i>
                                    </div>
                                    <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Packed </h5>
                                    <li class="list-inline-item me-3">
                                        <h5 class="mb-1">Rs. {{packedRevenue}}</h5>
                                        <p class="mb-0 font-13">Total Revenue</p>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="mb-1">{{packed}}</h5>
                                        <p class="mb-0 font-13">Number of Orders</p>
                                    </li>

                                    <a href="/dashboard/orders/Packed" class="mb-0 text-muted"><span
                                            class="badge badge-warning-lighten mt-3"><i class="mdi mdi-coin"></i>View
                                            List</span></a>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                        <div class="col-lg-4">
                            <div class="card widget-flat">
                                <div class="card-body">
                                    <div class="float-end">
                                        <i class="mdi mdi-account-multiple widget-icon"></i>
                                    </div>
                                    <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Shipped</h5>
                                    <li class="list-inline-item me-3">
                                        <h5 class="mb-1">Rs {{shippedRevenue}}</h5>
                                        <p class="mb-0 font-13">Total Revenue</p>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="mb-1">{{shipped}}</h5>
                                        <p class="mb-0 font-13">Number of Orders</p>
                                    </li>
                                    <a href="/dashboard/orders/Shipped" class="mb-0 text-muted"><span
                                            class="badge badge-info-lighten mt-3"><i class="mdi mdi-coin"></i>View
                                            List</span></a>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                        <div class="col-lg-4">
                            <div class="card widget-flat">
                                <div class="card-body">
                                    <div class="float-end">
                                        <i class="mdi mdi-account-multiple widget-icon"></i>
                                    </div>
                                    <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Delivered</h5>
                                    <li class="list-inline-item me-3">
                                        <h5 class="mb-1">Rs. {{deliveredRevenue}}</h5>
                                        <p class="mb-0 font-13">Total Revenue</p>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="mb-1">{{delivered}}</h5>
                                        <p class="mb-0 font-13">Number of Orders</p>
                                    </li>
                                    <a href="/dashboard/orders/Delivered" class="mb-0 text-muted"><span
                                            class="badge badge-success-lighten mt-3"><i class="mdi mdi-coin"></i>View
                                            List</span></a>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col-->

                        <div class="col-lg-4">
                            <div class="card widget-flat">
                                <div class="card-body">
                                    <div class="float-end">
                                        <i class="mdi mdi-account-multiple widget-icon"></i>
                                    </div>
                                    <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Cancel</h5>
                                    <li class="list-inline-item me-3">
                                        <h5 class="mb-1">Rs. {{cancledRevenue}}</h5>
                                        <p class="mb-0 font-13">Total Revenue</p>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="mb-1">{{cancled}}</h5>
                                        <p class="mb-0 font-13">Number of Orders</p>
                                    </li>
                                    <a href="/dashboard/orders/Cancel" class="mb-0 text-muted"><span
                                            class="badge badge-danger-lighten mt-3"><i class="mdi mdi-coin"></i>View
                                            List</span></a>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                        <div class="col-lg-4">
                            <div class="card widget-flat">
                                <div class="card-body">
                                    <div class="float-end">
                                        <i class="mdi mdi-account-multiple widget-icon"></i>
                                    </div>
                                    <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Rejected</h5>
                                    <li class="list-inline-item me-3">
                                        <h5 class="mb-1">Rs. {{rejectedRevenue}}</h5>
                                        <p class="mb-0 font-13">Total Revenue</p>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="mb-1">{{rejected}}</h5>
                                        <p class="mb-0 font-13">Number of Orders</p>
                                    </li>
                                    <a href="/dashboard/orders/Rejected" class="mb-0 text-muted"><span
                                            class="badge badge-danger-lighten mt-3"><i class="mdi mdi-coin"></i>View
                                            List</span></a>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                    </div> <!-- end row -->



                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col -->
    </div>

    <!-- end row -->

    <div class="row">
        <div class="col-xl-12 col-lg-12 order-lg-2 order-xl-1">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="btn btn-sm btn-link float-end">Export
                        <i class="mdi mdi-download ms-1"></i>
                    </a>
                    <h4 class="header-title mt-2 mb-3">customers <small class="badge badge-danger-lighten my-2">Cash on delivery off </small></h4>

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <thead>
                                <tr>
                                    <th><a href=""></a> Name</th>
                                    <th>Contact</th>
                                    <th>Username</th>
                                    <th>City</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in blockCustomer %}
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal"><a href="/dashboard/customer-details/{{i.customer_id}}" class="text-body fw-bold">{{i.first_name}} {{i.last_name}}</a></h5>
                                        <span class="text-muted font-13">Created Date -{{i.createdDate}}</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">+91 {{i.contact}}</h5>
                                        <span class="text-muted font-13">{{i.email}}</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{i.username}}</h5>
                                        <span class="text-muted font-13">Last login {{i.user.last_login}}</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{i.city}}</h5>
                                        <span class="text-muted font-13">{{i.state}}-{{i.pincode}}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
        <!-- end col-->
    </div>




    <div class="row">
        <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="btn btn-sm btn-link float-end">Export
                        <i class="mdi mdi-download ms-1"></i>
                    </a>
                    <h4 class="header-title mt-2 mb-3">Top Selling Products</h4>

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Orders</th>
                                    <th>Revenue</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in topProduct %}
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{i.productName}}</h5>
                                        <span class="text-muted font-13">Stock {{i.qty}} {{i.unit}}</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{i.orderCount}}</h5>
                                        <span class="text-muted font-13">Orders</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{ i.orderCount|mul:i.unitPrice }}</h5>
                                        <span class="text-muted font-13">Rs. {{i.unitPrice}}/ {{i.unit}}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->

        <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="btn btn-sm btn-link float-end">Export
                        <i class="mdi mdi-download ms-1"></i>
                    </a>
                    <h4 class="header-title mt-2 mb-3">Low Stock Products <small><span class="badge badge-danger-lighten">Alert</span></small></h4> 

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in lowStaock %}
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{i.productName}}</h5>
                                        <span class="text-muted font-13">Stock {{i.stockStatus}} </span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{i.qty}} {{i.unit}}</h5>
                                        <span class="text-muted font-13">Low Stock limit {{i.lowStockWarningQty}}
                                            {{i.unit}}</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{i.unitPrice}} /{{i.unit}}</h5>
                                        <span class="text-muted font-13">Quantity</span>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->


    </div>
    <!-- end row -->

</div>
<!-- container -->

</div>
<!-- content -->

{% endblock %} {% block js %}
<script>
    function deleteLead(id, loanType) {
        del = confirm("Do you really want to delete leads ?")
        if (del == true) {
            location.replace("/dashboard/delete-lead/" + id + "/" + loanType + "/")
        }
    }
</script>
{% endblock %}